html, body, .modes {
  height: 100px;
  width: 120px;
  margin: 0;
}

.modes {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.mode {
  height: 20%;
  margin: 0.2em;
  padding: 0.2em;
  background-color: #E5F2F2;
  cursor: pointer;
}

.mode:hover {
  background-color: #CFF2F2;
}
